.portfolio-container {
    background-color: #8b8f89;;
}
.home-container {
    background-color:#ffffff;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.header-container {
    background-color: #4f744c;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 250px;
    padding-left: 1%;
}
.navigation-link,
.navigation-container,
.portfolio-title {
    height: 250px;
}
.navigation-container {
    background-color: #4f744c;
    flex: 0.7;
    flex-direction: column;
}

.navigation-bar,
.footer-navigation {
    background-color: #76946b;
    display: flex;
    width: 100%;
    max-width: 1254px;
    justify-content: center;
    align-items: center;
    padding: 17px 60px;
}

.navigation-box{
    display: flex;
    justify-content: flex-end;
    flex: 0.5
}
.navigation-link {
    display: flex;
    justify-content:space-around;
    flex: 0.6
}
.nav-button {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    font-size: 32px;
    color: #000;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
}

.portfolio-title,
.header-container,
.welcome-container,
.update-container {
    font-family: Kanit, sans-serif;
}

.portfolio-title {
    color: #41453f;
    text-align: justify;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    flex: 0.3;
}

.welcome-container {
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
}
.welcome-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex:0.5;
}
.welcome-header {
    font-size: 45px;
}
.welcome-subheader {
    font-size: 30px;
    font-style: italic;
}
.welcome-right {
    justify-content: center;
    display: flex;
    flex: 0.5;
    margin: 0 auto;
    height: auto;
    width: 150%; 
}
.profile-image {
    height: auto;
    position: relative;
    border-radius: 50%;
}
.update-container{
    align-items: center;
    height: 750px;
}
.update-header {
    color: #000;
    text-align: center;
    margin-top: 30px;
    white-space: nowrap;
    font-weight: 400;
    font-size: 40px;
}
.update-cards-container{
    width: 100%;
    overflow-x: auto;
}
.scroll-cards {
    width: 120%;
    flex-direction: row;
    display: inline-flex;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: #88a588;
    overflow-x: auto;
    white-space: nowrap;
    justify-content: space-between;
    align-items: center;
}
.card {
    border-radius: 25px;
    border: 1px solid #000;
    background-color: #4f744c;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}