.about-container{
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: #778DA9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.about-bio{
    margin: 75px;
    padding: 75px;
    display: block;
    flex-direction: column;
    align-self: center;
    background-color: #5BDAAD;
    box-shadow: 0 10px 10px #0D1B2A;
    border-radius: 150px 25px 150px 25px;
    
}
.about-bio-creds {
   flex:0.3;
}

.about-bio-p {
    display: inline;

}

.about-skills {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.about-hobbies {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

h2{
    font-size: 40px;
    text-align: center;
}
p{
    text-align: center;
}