@font-face {
    font-family: StampborRounded;
    src: url('../resources/fonts/Stampbor-Rounded.otf') format("opentype");
}
.about-container{
    width: 100%;
    display:flex;
    justify-self: center;
    flex-direction: column;
    background-color: #0D1B2A;
    font-family: StampborRounded;
}
.about-bio{
    width: 50%;
    display: flex;
    margin: 50px auto;
    padding: 50px;
    flex-direction: column;
    align-self: center;
    background-color: #5BDAAD;
    box-shadow: 0 10px 10px #0D1B2A;
    border-radius: 150px 25px 150px 25px;
    box-shadow: 20px 20px 20px black;
    text-align: center;
}
.about-bio-resume-download {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-self: center;
    cursor: pointer;
}
.resume-icon {
    height: 4vw;
    width: 4vw;
    padding: 20px;
    padding-bottom: 10px;
    margin-top: 15px;
    align-self: center;
    background-color: #5BDAAD;
}
.about-bio h3 {
    font-weight: 100;
    font-size: 2vw;
}
.about-bio h4 {
    font-weight: 100;
    font-size: 1.5vw;
    margin:0;
}
.about-bio p {
    font-size: 1.5vw;
    font-weight: 100;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-inline: 50px;
    margin: 0;
    padding-inline: 50px;
    padding-bottom: 0;
    padding-top: 20px;
}

.about-skills {
    width: 80%;
    background-color: #415A77;
    /*background-image:repeating-radial-gradient(circle at left, #5BDAAD, #0D1B2A, #5BDAAD);*/
    border-radius: 100px 25px 100px 25px;
    padding: 50px;
    margin: 50px 150px;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-evenly;
}

.hobby-box {
    width: 75%;
    align-self: center;
    display: flex;
    background-color: #5BDAAD;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
    padding: 50px;
    margin: 50px;
    font-family: StampborRounded;
    border-radius: 25px 100px 25px 100px;
}
.hobby-box-left {
    flex: 0.25;
    background-color: #87d4df;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
    border-radius: 100px 25px 100px 25px;
    padding: 30px;
    margin: 50px;
    align-self: center;
}
.hobby-list-header {
    font-size: 1.5vw;
    align-items: center;
}

.hobby-list-header h2 {
    font-size: 40px;
}

.hobby-list-list {
    justify-content: center;
}

.hobby-list-list ul {
    list-style-type: none;
    text-align: center;
    padding-right: 40px;
}

.hobby-list-list h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    font-weight: lighter;
}

.hobby-box-right {
    flex: 1;
    padding: 20px;
    margin: 10px;
    display: flex;
    background-color: #0D1B2A;
    border-radius: 25px 100px 25px 100px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.hobby-card-row {
    width: 95%;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-evenly;
}

h2{
    font-size: 3vw;
    text-align: center;
}
p{
    text-align: center;
}

@media (max-width: 650px) {
    .about-bio h2{
        font-size: 7vw;
    }
    .about-bio h3{
        font-size: 3.5vw;
    }
    .about-bio h4{
        font-size: 3.5vw;
    }
    .about-bio p{
        font-size: 3vw;
        padding-inline: 0;
    }
    .about-bio-resume-download h4 {
        font-size: 2vw;
    }
    .about-bio-resume-download img {
        height: 5vw;
        width: 5vw;
    }
}
@media (min-width: 1001px){
    .about-bio h2 {
        font-size: 3vw;
    }
    .about-bio h3 {
        font-size: 1.5vw;
    }
    .about-bio h4 {
        font-size: 1vw;
    }
    .about-bio p {
        font-size: 1.5vw;
    }
}

@media (max-width: 1000px){
    .about-skills {
        flex-direction: column;
        width: 75%
    }
    .hobby-box {
        flex-direction: column;
    }
    .hobby-box-right {
        justify-content: space-around;
    }
    .hobby-card-row {
        flex-direction: column;
    }
}