.home-container {
    display: flex;
    flex-direction: column;
    background-color: #1B263B;
}

.intro-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-bottom: 100px;
}

.left-side {
    background-color: #778DA9;
    flex: 0.4;
    justify-content: center;
    align-items: center;
    padding: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 100px 25px;
}
.left-side:hover{
    background-color: #5BDAAD;
}
.left-side h1{
    font-size: 50px;
}
.left-side h2{
    font-size: 30px;
}
.left-side h3{
    font-size: 20px;
}
.left-side h1, h2, h3{
    text-align: center;
}
.left-side h1, h2, h3:hover{
    text-align: center;
}
.right-side {
    flex:0.35;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #778DA9;
    border-radius: 25px 100px;
}

.right-side:hover{
    background-color: #5BDAAD;
}

.right-side img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 25px 100px;
}

/* UPDATE CONTAINER STYLES*/

.update-container{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #778DA9;
    border-radius: 200px 200px 0px 0px;
}
.update-header{
    text-align: center;
}
.update-header h1 {
    font-size: 60px;
    color: black;
}

.updates{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}