@font-face {
    font-family: DoctorGlitch;
    src: url('../resources/fonts/DoctorGlitch.otf') format("opentype");
}
@font-face {
    font-family: CrackedCode;
    src: url('../resources/fonts/CrackedCode.ttf') format("truetype");
}
@font-face {
    font-family: Prisma;
    src: url('../resources/fonts/Prisma.otf') format("opentype");
}
@font-face {
    font-family: StampborRounded;
    src: url('../resources/fonts/Stampbor-Rounded.otf') format("opentype");
}

.home-container {
    display: flex;
    width:100%;
    flex-direction: column;
    background-color: #1B263B;
}

.intro-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 100px;
    padding-bottom: 100px;
}

.left-side {
    flex: 0.3;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 100px 25px 100px 25px;
    background-color: #5BDAAD;
    box-shadow: 20px 20px 20px black;
}
.left-side h1{
    font-family: StampborRounded;
    text-transform: uppercase;
    font-size: 100px;
}
.left-side h2{
    font-size: 40px;
    font-family: StampborRounded;
}
.left-side h3{
    font-size: 20px;
    font-family: DoctorGlitch;

}
.left-side h1, h2, h3{
    text-align: center;
}
.left-side h1, h2, h3:hover{
    text-align: center;
}
.right-side {
    flex:0.4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #778DA9;
    border-radius: 25px 100px;
    box-shadow: 20px 20px 20px black;
}

.right-side:hover{
    background-color: #5BDAAD;
}

.right-side img {
    margin: 20px;
    max-width: 85%;
    max-height: auto;
    border-radius: 25px 100px 25px 100px;
}

/* UPDATE CONTAINER STYLES*/

.update-container{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #778DA9;
    border-radius: 200px 200px 0px 0px;
}
.update-header{
    text-align: center;
    font-family: CrackedCode;
    text-transform: uppercase;
}
.update-header h1 {
    font-size: 60px;
    color: black;
    margin: 50px;
}

.updates{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}