@font-face {
    font-family: StampborRounded;
    src: url('../resources/fonts/Stampbor-Rounded.otf') format("opentype");
}

.project-main-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    
    background-color: #1B263B;
}

.project-main-header {
    width: 30%;
    margin: 50px;
    padding: 50px;
    align-self: center;
    align-content: center;
    background-color: #5BDAAD;
    border-radius: 100px 25px 100px 25px;
    box-shadow: 20px 20px 20px black;
}
.project-main-header h1{
    font-family: StampborRounded;
    text-align: center;
    font-size: 3vw;
    color: black;
}

.projects-container {
    width: 75%;
    padding: 50px;
    margin-top: 50px;
    align-self: center;
    display: flex;
    flex-direction: row;
    background-color: #5BDAAD;
    border-radius: 120px 120px 0px 0px;
    justify-content: space-evenly;
}
.projects-container h2 {
    margin: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 40px;
    font-family: StampborRounded;
}

.in-progress-projs,
.completed-projs {
    width: inherit;
    flex: 0.4;
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-self: flex-start;
    align-content: center;
    background-color: #1B263B;
    color: #5BDAAD;
    border-radius: 25px 100px 25px 100px;
}

.in-progress-projs{
    border-radius: 100px 25px 100px 25px;
}

@media (max-width: 650px) {
    .project-main-header {
        width: 60%;
    }
    .project-main-header h1 {
        font-size: 5vw;
    }
    .projects-container {
        flex-direction: column;
        justify-content: space-evenly;
        width: 75%;
    }
    .projects-container h2 {
        font-size: 6vw;
    }
    .in-progress-projs,
    .completed-projs {
        width: 85%;
        margin-block: 20px;
        border-radius: 75px;
    }
}