@font-face {
    font-family: StampborRounded;
    src: url('../resources/fonts/Stampbor-Rounded.otf') format("opentype");
}

.list-item-container {
    border: 5px solid #0D1B2A;
    border-radius: 8px;
    box-shadow: 0 2px 4px #0D1B2A;
    overflow: hidden;
    width: fit-content;
    height: auto;
    margin: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.list-item-header {
    background-color: #5BDAAD;
    color:#0D1B2A;
    padding: 10px 20px;
    border-bottom: 5px solid #0D1B2A;
}
.list-item-header:hover{
    background-color: #0D1B2A;
    color:#5BDAAD;
}

.list-item-header h4 {
    font-family: StampborRounded;
    text-align: center;
    color: inherit;
    font-size: 32px;
}
.list-item-body {
    background-color: #778DA9;
    padding: 20px;
}
.list-item-body p {
    margin: 0;
    text-align: center;
    font-size: 24px;
}