.list-item-container {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    height: 300px;
    width: 300px;
    margin: 2%;
}

.list-item-header {
    background-color: #f0f0f0;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
}

.list-item-header h4 {
    margin: 0;
    text-align: center;
}

.list-item-body {
    padding: 20px;
}

.list-item-body p {
    margin: 0;
    text-align: center;
}