.skill-list {
    display: block;
    background-color: #415A77;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 20px;
    align-self: center;
    margin-bottom: 20px;
}
.skill-list:hover {
    background-color: #0D1B2A;
    color: #5BDAAD;
}

.skill-list-header {
    align-items: center;
}

.skill-list-header h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    margin-top: 0;
}

.skill-list-list {
    justify-content: center;
}

.skill-list-list ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.skill-list-list h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    font-weight: lighter;
}