.skill-list {
    display: block;
    background-color: #87d4df;
    margin: 50px;
    padding: 50px;
    align-self: center;
    font-family: StampborRounded;
    border-radius: 25px 100px 25px 100px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);

}
.skill-list.click {
    background-color: #0D1B2A;
    color: #5BDAAD;
}

.skill-list-header {
    font-size: 1.5vw;
    align-items: center;
}

.skill-list-header h2 {
    font-size: 40px;
}

.skill-list-list {
    justify-content: center;
}

.skill-list-list ul {
    list-style-type: none;
    text-align: center;
    padding-right: 40px;
}

.skill-list-list h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    font-weight: lighter;
}